<h2><%= @group.name %></h2>

<h3>Instructions</h2>
<p>If your group wants to split the tab unevenly, 
just enter the percentages that each member will pay and press the button at 
the bottom of the page to calculate the amount that each member should 
pay/receive based on how much they have already contributed to the group.</p>

<h4>Percentages must add up to 100</h4>

<% if action == :edit %>
  <% action_url = group_custom_split_url(@group) %>
<% else %>
  <% action_url = group_custom_splits_url(@group) %>
<% end %>

<% if flash[:message].present? %>
  <ul>
    <li><%= flash[:message] %></li>
  </ul>
<% end %>

<form action="<%= action_url %>" method="post">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">

  <% if action == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>

  <ul>
    <% balances.each do |member_id, balance| %>
      <% member = User.find_by(id: member_id) %>
      <li>
        <%= member.name %>
        Amount contributed: <%= member.total_for_group(@group.id) %>
      </li>
      <label for="percentage">Enter a percentage</label>
      <input type="number" name="percentages[<%= member.id %>]" id="percentage">
    <% end %>
  </ul>
  <input type="hidden" name="custom_split[group_id]" value="<%= @group.id%>">
  <input type="hidden" name="custom_split[total]" value="<%= @group.total %>">
  <input type="hidden" name="custom_split[group_member_count" value="<%= @group.members.length %>">
  <input type="submit" value="<%= action == :edit ? 'Recalculate' : 'Calculate'%>">  
</form>