<h1><%= @group.name %></h1>
<%= link_to 'Back', user_url(@user) %>

<br>
<br>

<% @group.receipts.each do |receipt| %>
  <%= receipt.total %>
  <%= link_to receipt.name, group_receipt_url(id: receipt.id, group_id: @group.id) %>
  <br>
<% end %>

<br>

<p>Trip running total: <%= @group.total %></p>

<% flash.each do |type, message| %>
  <div>
    <%= message %>
  </div>
<% end %>

<p>You may change the percentage splits as you would like and click the button below to recalculate</p> 
<form action="<%= group_url(@group) %>" method="get">
  <ul>
    <% @members.each do |member| %>
      <li>
        <input 
          type="number" 
          step="any"
          name="group[custom_percentages][<%= member.id %>]" 
          value="<%= @individual_totals[member.id.to_s][0] %>">
        <%= member.name %>
        Total: <%= @individual_totals[member.id.to_s][1] %>
      </li>
    <% end %>
  </ul>
  <input type="submit" value="Recalculate">
</form>

<%= link_to 'Add a new receipt to this group', new_user_receipt_url(@user) %>