<h1><%= @group.name %></h1>
<%= link_to 'Back', user_url(@user) %>

<br>
<br>

<ul>
  <% @group.receipts.each do |receipt| %>
    <li>
      <%= receipt.total %>
      <%= link_to receipt.name, group_receipt_url(id: receipt.id, group_id: @group.id) %>
      Submitted by: <%= User.find_by(id: receipt.user_id).name %>
    </li>
  <% end %>
</ul>

<br>

<p>Trip running total: <%= @group.total %></p>

<% flash.each do |type, message| %>
  <div>
    <%= message %>
  </div>
<% end %>

<ul>
  <% @balances.each do |member, balance| %>
    <li>
      <%= member.name %>
      Amount contributed: <%= member.total_for_group(@group.id) %>
      Balance: <%= balance %>
    </li>
  <% end %>
</ul>

<%= link_to "Calculate a custom split", new_group_custom_split_url(@group) %>
<br>
<%= link_to 'Add a new receipt to this group', new_user_receipt_url(@user) %>
<br>
<%= link_to 'Invite a friend to join this group', new_group_invitation_url(@group) %>
