<h1><%= @user.name %></h1>

<%# Add a button that will only display on pages NOT belonging to the user to add that user as a friend %>

<h2>Groups</h2>

<% if !@user.groups.empty? %>
  <ul>
    <% @user.groups.each do |group| %>
      <li>
        <%= link_to "#{group.name}", group_url(group) %>
      </li>
    <% end %>
  </ul>
<% elsif @user.groups.empty? && @user != current_user %>
  <p>User is not a member of any groups.</p>
<% else %>
  <p>You are not a member of any groups.</p>
<% end %>
<%# Could display first three groups, then offer a button to link to the groups index page (if user has more than three groups) %>
<%# Links to join or create groups %>
<% if @user == current_user %>
  <%= link_to 'Create a group', new_group_url %><br>
  <%# link_to 'Join an existing group', groups_url %>
<% end %>

<h2>Friends</h2>
<ul>
  <% @friendships.each do |friendship| %>
    <%# Can we clean up the following line somehow? %>
    <% friend = friendship.user_id == @user.id ? User.find_by(id: friendship.friend_id) : User.find_by(id: friendship.user_id) %>
    <% if friendship.accepted %>
      <li>
        <%= link_to "#{friend.name}", user_url(friend) %>
      </li>
    <% end %>
    <%# button to remove friend (should ask if they're sure first) %>
  <% end %>
</ul>
<%# This link should only be visible on a user's own show page %>
<% if @user == current_user %>
  <%= link_to 'Add a friend', new_user_friendship_url(@user) %>
<% end %>

<%# This section should only be visible on a user's own show page %>
<% if @user == current_user %>
  <h2>Friend Requests</h2>
  <h3>Requests you sent</h3>
  <ul>
    <% @sent_friend_requests.each do |friend_request| %>
      <% friend = User.find_by(id: friend_request.friend_id) %>
      <li>
        <%= link_to "#{friend.name}", user_url(friend) %>
      </li>
      <%# button to withdraw a friend request that hasn't been accepted yet %>
    <% end %>
  </ul>

  <h3>Requests you received</h3>

  <ul>
  <% @received_friend_requests.each do |friend_request| %>
      <% friend = User.find_by(id: friend_request.user_id) %>
      <li>
        <%= friend.name %> <%= link_to "(Profile)", user_url(friend) %>
      </li>
      <form method='post' action="<%= friendship_url(friend_request) %>">
        <div>
          <input name='_method' value='patch' type='hidden'/>
          <input value='Accept' type='submit'/>
        </div>
      </form>
    <% end %>
  </ul>
<% end %>