<h1><%= @receipt.name %></h1>

<%# link_to 'Edit receipt', edit_receipt_url(@receipt) %>

<ul id="receipt">
  <label for="name">Name</label>
  <li id="name"><%= @receipt.name %></li>
  <label for="date">Date</label>
  <li id="date"><%= @receipt.date %></li>
  <label for="total">Total</label>
  <li id="total"><%= @receipt.total %></li>
  <label for="note">Note</label>
  <li id="note"><%= @receipt.note%></li>
</ul>