<!DOCTYPE html>
<html>
  <head>
    <title>DivyUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="main-nav">
      <div>
        <% if current_user.nil? %>
          <a href="<%=new_session_url%>">Login</a><br>
          <a href="<%=new_user_url%>">Create an account</a>
        <% else %>
          <%= current_user.email %>
          <br>
          <%= link_to 'Profile', user_url(current_user) %>
          <form action="<%= session_url %>" method="post">
            <input 
              type="hidden" 
              name="authenticity_token"
              value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Logout">
          </form>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
